{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ search_form|crispy }}
        <br>
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>

    
    {% if courses %}
        
        {% for course in courses %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{course.title}}</h5>
                <p class="card-text">Level: {{course.instructionalLevel}}</p>
                <p class="card-text">Source: {{course.source}}</p>
                <p class="card-text">Institution: {{course.institution}}</p>
              <a href="{{ course.url }}" class="btn btn-primary" target="_blank">Link To Course</a>
            </div>
        </div>
        {% endfor %}

    {% else %}
    <br>
      <div class="card">
        <div class="card-body">
          <p class="card-text">No Courses found, try changing course levels. To display all relevant courses, select 'All Levels' </p>
        </div>
      </div>
    {% endif %}
        
{% endblock content %}